tags
*.swp
*.swo
*.orig
coverage.out

cmd/mfp/mfp
cmd/mfp-cups/mfp-cups
cmd/mfp-discover/mfp-discover
cmd/mfp-model/mfp-model
cmd/mfp-ppd/mfp-ppd
cmd/mfp-proxy/mfp-proxy
cmd/mfp-usb/mfp-usb
cmd/mfp-virtual/mfp-virtual

tools/ipp-registrations-generate/ipp-registrations-generate

.vscode
